<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="directoryPath" value="" />
    <!--Path to folder with files to import-->
    <add key="FilePath" value="" />
    <!--Path to excel file to import-->
    <add key="serverUrl" value="" />
    <!--URL server to send data-->
    <add key="login" value="" />
    <!--User login-->


    <add key="notAllowedFileType" value=".DS_Store" />
    <add key="clientID" value="" />
    <add key="clientSecret" value="" />
    <add key="formTypeKontrachent" value="" />
    <add key="workflowKontrachent" value="" />
    <add key="formTypeUmowa" value="" />
    <add key="workflowUmowa" value="" />


    <add key="nazwaKontrachenta" value="" />
    <add key="nazwaKategorii" value="" />
    <add key="nazwaPodfolderu" value="" />
    <add key="checkboxImport" value="" />

    <add key="guids" value=""/>
    
    <add key="ColumnsNamesToRemoveDuplications" value="" />
    <add key="sheetID" value="0" />
    <add key="delay" value="0" />
    <add key="ColumnsToRemove" value="" />
  </appSettings>
</configuration>